

<div class="container">

  <br /><h5>Resultado de la consulta</h5><br />

  <div class="row">

    <div class="col-lg-2">
      <%= link_to 'Haz otra búsqueda', root_path, class:'btn btn-outline-primary' %>
    </div>
    <div class="col-lg-10">
      <pre>
        <code>
            <%= JSON.pretty_generate @response %>
        </code>
      </pre>
    </div>

  </div>

</div>

