

<div class="container">

  <br /><h5>Resultado de la consulta</h5><br />

  <div class="row">

    <div class="col-lg-2">
      <%= link_to 'Haz otra búsqueda', root_path, class:'btn btn-outline-primary' %>
    </div>
    <div class="col-lg-10">

      <div class="box box-primary">
        <div class="box-body table-responsive">
          <table class="table table-hover" role="row" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>Resultado</th>
              </tr>
            </thead>
            <tbody>
              <% @response["destinationEntities"][0]["matchingPVs"].each do |resultado|%>
                <tr>
                  <td><%= resultado["label"] %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

    </div>

  </div>

</div>

